@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-redappetite: oklch(62.84% 0.242 23.85);
  --color-green-fresh: oklch(64.26% 0.162 177.37);
  --color-beige-bg: oklch(98.58% 0.011 90.68);
  --color-blue-action: oklch(55% 0.1 260); 
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-gradient-app {
  background: linear-gradient(
    135deg,
    oklch(98.58% 0.011 90.68) 0%, /* beige-bg */
    oklch(64.26% 0.162 177.37 / 0.15) 40%, /* green-fresh bem transparente */
    oklch(62.84% 0.242 23.85 / 0.08) 100% /* red-appetite mais suave ainda */
  );
}